.App {
  text-align: center;
  justify-content: center;
}

.button {
  border-radius: 40% / 50%;
  box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 3%;
}

.button-container {
  width: 100%;
  margin: 5vh 0;
  padding: 0% 10%;
}

.input-container {
  width: 100%;
  margin: 2vh 0;
  padding: 0% 20%;
}

.header-container {
  width: 60%;
  margin: 2vh 0;
  display: flex;
}

.header {
  font-weight: bold;
  text-align: center;
}